@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', 'Orbitron', sans-serif;
}

:root {
    --dark-blue: #0a192f;
    --ocean-blue: #1e3a8a;
    --light-blue: #38bdf8;
    --neon-blue: #00f2ff;
    --red: #ef4444;
    --orange: #f97316;
    --gray: #94a3b8;
    --black: #020617;
    --white: #f8fafc;
}

body {
    background-color: var(--dark-blue);
    background-image:
        radial-gradient(circle at 20% 35%, rgba(29, 78, 216, 0.15) 0%, transparent 50%),
        radial-gradient(circle at 75% 60%, rgba(6, 182, 212, 0.1) 0%, transparent 50%);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* Ocultamos la barra de la derecha */
}

/* HEADER */
.game-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.logo-container {
    position: relative;
    text-align: center;
}

.game-title {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    /* Este bloque de código aplica un estilo llamativo al texto: 
       1. Utiliza un gradiente lineal de izquierda a derecha que va de 'neon-blue' a 'light-blue'.
       2. El gradiente se aplica solo al texto, no al fondo del contenedor, gracias a '-webkit-background-clip: text'.
       3. El color del texto se hace transparente mediante '-webkit-text-fill-color: transparent', 
          lo que permite que el gradiente se vea a través de las letras.
       4. Se aplica una sombra difusa de color azul alrededor del texto (con un desenfoque de 8px y opacidad 0.5),
          creando un efecto de resplandor suave sobre el texto. */
    background: linear-gradient(to right, var(--neon-blue), var(--light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 8px rgba(56, 189, 248, 0.5));
    /*  */
}

.game-subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--gray);
    margin-top: -5px;
}
